$primary: #5660f2;
$secondary: #45c26f;
$accent: #FA5555;

$dark: #4a4e57;
$dark-page: #5c6573;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f9af2c;

$typography-font-family: "Sahel" !important !default;
